VITE_AKN_CHAIN_ID=56
VITE_BSC_RPC_URL=https://bsc-dataseed.binance.org
VITE_BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.bnbchain.org:8545
VITE_WALLETCONNECT_PROJECT_ID=
VITE_AKN_PRESALE_ADDRESS=
VITE_AKN_NETWORK_ADDRESS=0xD7Ed315b16e990d03C2584Ebe73e3A76629BD238
VITE_AKN_USDT_ADDRESS=0x55d398326f99059fF775485246999027B3197955
